@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Phone:</strong> <a href="tel:636-439-0195">636-439-0195</a><br />
    <strong>Email:</strong> <a href="mailto:JakeAYoung95@gmail.com">JakeAYoung95@gmail.com</a>
</address>
